/* Resetta margini e padding su tutti gli elementi */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stili per il corpo del documento */
body{
    /* Utilizza diverse famiglie di caratteri come fallback */
    font-family: 'Inter Tight', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    /* Imposta l'altezza del corpo in base all'altezza del viewport (altezza della finestra) */
    height: calc(100vh - 100px); /* Sottrae 100px dall'altezza totale del viewport */
    background-color: rgb(21, 26, 35); /* Imposta il colore di sfondo */
}



/* Stili per il contenitore principale */
.container{
    height: calc(100vh - 100px); /* Imposta l'altezza del contenitore in base all'altezza del viewport */
    background-color: green; /* Colore di sfondo */
    display: flex; /* Utilizza un layout flessibile */
}

/* Stili per la barra laterale sinistra */
.h-side{ 
    height: 100%; /* Altezza del 100% del contenitore padre */
    width: 250px; /* Larghezza della barra laterale */
    padding-top: 20px; /* Spaziatura in alto */
    padding-left: 20px; /* Spaziatura a sinistra */
    background-color: blue; /* Colore di sfondo */
    color: rgb(163, 163, 163);  /* Colore del testo */
    font-size: 15px; /* Dimensione del carattere */
    display: flex; /* Utilizza un layout flessibile */
    flex-direction: column; /* Allinea i figli in colonna */
    position: relative; /* Posizione relativa rispetto al contenitore padre */
    overflow: hidden; /* Nasconde il contenuto in eccesso */
}

/* Stili per l'area principale */
main{
    width: calc(100% - 250px); /* Imposta la larghezza dell'area principale */
    height: 100%; /* Altezza del 100% del contenitore padre */
    overflow: auto; /* Abilita lo scrolling se il contenuto supera l'area visibile */
}

/* Stili per la barra di scorrimento personalizzata per l'area principale */
main::-webkit-scrollbar{
    width: 12px; /* Larghezza della barra di scorrimento */
}

main::-webkit-scrollbar-track{
    background-color: #000000; /* Colore di sfondo della traccia */
}

main::-webkit-scrollbar-thumb{
    background-color: rgb(41, 41, 41); /* Colore della barra di scorrimento */
    border-radius: 10px; /* Bordo arrotondato */
}

/* Stili per l'elemento di upgrade fisso in basso */
.upgrade{
    background-color: red; /* Colore di sfondo */
    height: 100px; /* Altezza fissa */
    position: fixed; /* Posizione fissa rispetto alla finestra */
    width: calc(100% - 250px); /* Larghezza calcolata sottraendo la larghezza della barra laterale */
    display: flex; /* Utilizza un layout flessibile */
    justify-content: end; /* Allinea gli elementi all'estremità destra */
    align-items: center; /* Allinea gli elementi verticalmente al centro */
}





























footer{
    height: 100px;
    background-color: rgb(41, 41, 41);
}
.container-footer{
    display: flex;
    justify-content: space-between;
    max-height: 100%;
    padding: 10px;
    color: rgb(163, 163, 163);
}


