/* Resetta margini e padding su tutti gli elementi */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stili per il corpo del documento */
body{
    /* Utilizza diverse famiglie di caratteri come fallback */
    font-family: 'Inter Tight', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color:white;
}

a:hover{
    text-decoration: underline;
    font-weight: bold;
}


/* Stili per il contenitore principale */
.container{
    height: calc(100vh - 100px); /* Imposta l'altezza del contenitore in base all'altezza del viewport */
    background-color: rgb(21, 26, 35); /* Colore di sfondo */
    display: flex; /* Utilizza un layout flessibile */
}

/* Stili per la barra laterale sinistra */
.h-side{ 
    height: 100%; /* Altezza del 100% del contenitore padre */
    width: 250px; /* Larghezza della barra laterale */
    padding-top: 20px; /* Spaziatura in alto */
    padding-left: 20px; /* Spaziatura a sinistra */
    background-color: rgb(0, 0, 0); /* Colore di sfondo */ /* CAMBIARE */
    color: rgb(163, 163, 163);  /* Colore del testo */
    font-size: 15px; /* Dimensione del carattere */
    display: flex; /* Utilizza un layout flessibile */
    flex-direction: column; /* Allinea i figli in colonna */
    position: relative; /* Posizione relativa rispetto al contenitore padre */
    overflow: hidden; /* Nasconde il contenuto in eccesso */
}

.nav-principale{
    line-height: 40px;
    margin-bottom: 15px;
}

.nav-principale > div > i{
    font-size: 25px;
    margin-right: 5px;
    vertical-align: middle;
}

.playlist > h3{
    color: white;
}

.playlist-list{
    margin-top: 10px;
    height: 200px;
    overflow: auto;
}

.playlist-list::-webkit-scrollbar {
    width: 12px;
}

.playlist-list::-webkit-scrollbar-track {
    background-color: #000000;
}

.playlist-list::-webkit-scrollbar-thumb {
    background-color: rgb(41, 41, 41);
    border-radius: 10px;
}

.playlist-list > div{
    margin-bottom: 20px;
}

.playlist-list > div > i{
    font-size: 45px;
    vertical-align: middle;
}

.bottom{
    position: absolute;
    width: 80%;
    bottom: 0;
    background-color: black;
}

.bottom > hr{
    opacity: 0.4;
    margin-top: 10px;
    margin-bottom: 10px;
}

.user{
    color: white;
    font-size: 20px;
}

.logo{
    width: 65%;
    margin-bottom: 20px;
}

/* Stili per l'area principale */
main{
    width: calc(100% - 250px); /* Imposta la larghezza dell'area principale */
    height: 100%; /* Altezza del 100% del contenitore padre */
    overflow: auto; /* Abilita lo scrolling se il contenuto supera l'area visibile */
}

/* Stili per la barra di scorrimento personalizzata per l'area principale */
main::-webkit-scrollbar{
    width: 12px; /* Larghezza della barra di scorrimento */
}

main::-webkit-scrollbar-track{
    background-color: #000000; /* Colore di sfondo della traccia */
}

main::-webkit-scrollbar-thumb{
    background-color: rgb(41, 41, 41); /* Colore della barra di scorrimento */
    border-radius: 10px; /* Bordo arrotondato */
}

/* Stili per l'elemento di upgrade fisso in basso */
.upgrade{
    background-color: rgb(8, 11, 18); /* Colore di sfondo */
    height: 100px; /* Altezza fissa */
    position: fixed; /* Posizione fissa rispetto alla finestra */
    width: calc(100% - 250px); /* Larghezza calcolata sottraendo la larghezza della barra laterale */
    display: flex; /* Utilizza un layout flessibile */
    justify-content: end; /* Allinea gli elementi all'estremità destra */
    align-items: center; /* Allinea gli elementi verticalmente al centro */
}

/* Stili per il pulsante nell'elemento di upgrade */
.upgrade > button{
    color: white; /* Colore del testo */
    height: 50px; /* Altezza del pulsante */
    width: 250px; /* Larghezza del pulsante */
    border: 1px solid white; /* Bordo del pulsante */
    background-color: rgb(8, 11, 18); /* Colore di sfondo */
    border-radius: 30px; /* Bordo arrotondato */
}

/* Stili per la barra di navigazione */
.nav-bar{
    margin: auto; /* Centra orizzontalmente */
    margin-top: 120px; /* Spaziatura in alto */
    display: flex; /* Utilizza un layout flessibile */
    width: 50%; /* Larghezza della barra di navigazione */
    justify-content: space-between; /* Spaziatura uniforme tra gli elementi */
    color: rgb(163, 163, 163); /* Colore del testo */
}

/* Stili per gli elementi nella barra di navigazione */
.nav-bar > div{
    max-width: calc(100% / 5); /* Larghezza massima per ciascun elemento */
}

.contenuto-principale{
    padding: 1.25rem;
}

.container-main > div > h1{
    color: white;
    margin-top: 35px;
    margin-left: 10px;
}

.container-main > div > span{
    margin-left: 10px;
    color: rgb(163, 163, 163);
}



.container2{
    display: flex;
    gap: .625rem;
    flex-wrap: wrap;
    padding-top: 1.25rem;
}

.container2 .card{
    width: calc(100vw / 2 - 3.125rem - .625rem);
    display: flex;
    text-align: center;
}
.container2 .circular img{
    border-radius: 50%;
}
.container2 .hover-play{
    position: relative;
    z-index: 1;
}
.container2 .card i{
    font-size: 3.75rem;
    position: absolute;
    top: calc(50% - 1.5625rem );
    right: calc(50% - 25px);
    display: none;
}
.container2 .card img{
    width: 100%;
}

.container2 .hover-play:hover i{
    display: block;
}

.container2 .hover-play:hover img{
    filter: opacity(30%);
}
.button-upgrade:hover{
    scale: 1.05;
}
.fa-circle-play{
    font-size: 1.5rem;
    margin: 0 .3125rem;
}
.sottotitolo{
    color: #7d7f84;
    font-weight: bold;

}
.titolo{
    display: block;
    font-weight: bold;
    font-size: 1.1rem;
    padding: .9375rem 0;
}

a .artista{
    display: block;
    color:#7d7f84 ;
    padding-bottom: 1.25rem;
}
.text-important{
    font-weight: bold;
    color: white;
    margin: 1.875rem 0 0.3rem;
}



@media screen and (max-width: 576px){
    .h-side{
        width: 50px;
    }
    .nav-principale > div > span{
        display: none;
    }
    .playlist{
        display: none;
    }
    .bottom > hr{
        display: none;
    }     

    .bottom > div > span{
        display: none;
    }

    .container2 .card{
        width: calc(100% / 2 - .625rem) ;
    }

    .upgrade{
        width: calc(100% - 50px);
    }
    
}


@media  screen and (min-width:552px) {
    .main .menu-upgrade{
        left: 14.375rem ;
    }
    .container2 .card{
        width: calc(100% / 2 - .625rem) ;
    }
    
}

@media screen and (min-width:640px){
    .container2 .card{
        width: calc(100% / 4 - .625rem);
    }
}

@media screen and (min-width:878px){
    .container2 .card{
        width: calc(100% / 6 - .625rem);
    }  
    .container2 .card img{
        max-width: 11.25rem ;
    } 
}

























footer{
    height: 100px;
    background-color: rgb(41, 41, 41);
}
.container-footer{
    display: flex;
    justify-content: space-between;
    max-height: 100%;
    padding: 10px;
    color: rgb(163, 163, 163);
}


