/* Resetta margini e padding su tutti gli elementi */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stili per il corpo del documento */
body{
    /* Utilizza diverse famiglie di caratteri come fallback */
    font-family: 'Inter Tight', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}



/* Stili per il contenitore principale */
.container{
    height: calc(100vh - 100px); /* Imposta l'altezza del contenitore in base all'altezza del viewport */
    background-color: rgb(21, 26, 35); /* Colore di sfondo */
    display: flex; /* Utilizza un layout flessibile */
}

/* Stili per la barra laterale sinistra */
.h-side{ 
    height: 100%; /* Altezza del 100% del contenitore padre */
    width: 250px; /* Larghezza della barra laterale */
    padding-top: 20px; /* Spaziatura in alto */
    padding-left: 20px; /* Spaziatura a sinistra */
    background-color: blue; /* Colore di sfondo */ /* CAMBIARE */
    color: rgb(163, 163, 163);  /* Colore del testo */
    font-size: 15px; /* Dimensione del carattere */
    display: flex; /* Utilizza un layout flessibile */
    flex-direction: column; /* Allinea i figli in colonna */
    position: relative; /* Posizione relativa rispetto al contenitore padre */
    overflow: hidden; /* Nasconde il contenuto in eccesso */
}

.nav-principale{
    line-height: 40px;
    margin-bottom: 15px;
}

.nav-principale > div > i{
    font-size: 25px;
    margin-right: 5px;
    vertical-align: middle;
}

.playlist > h3{
    color: white;
}

.logo{
    width: 65%;
    margin-bottom: 20px;
}

/* Stili per l'area principale */
main{
    width: calc(100% - 250px); /* Imposta la larghezza dell'area principale */
    height: 100%; /* Altezza del 100% del contenitore padre */
    overflow: auto; /* Abilita lo scrolling se il contenuto supera l'area visibile */
}

/* Stili per la barra di scorrimento personalizzata per l'area principale */
main::-webkit-scrollbar{
    width: 12px; /* Larghezza della barra di scorrimento */
}

main::-webkit-scrollbar-track{
    background-color: #000000; /* Colore di sfondo della traccia */
}

main::-webkit-scrollbar-thumb{
    background-color: rgb(41, 41, 41); /* Colore della barra di scorrimento */
    border-radius: 10px; /* Bordo arrotondato */
}

/* Stili per l'elemento di upgrade fisso in basso */
.upgrade{
    background-color: red; /* Colore di sfondo */ /* CAMBIARE */
    height: 100px; /* Altezza fissa */
    position: fixed; /* Posizione fissa rispetto alla finestra */
    width: calc(100% - 250px); /* Larghezza calcolata sottraendo la larghezza della barra laterale */
    display: flex; /* Utilizza un layout flessibile */
    justify-content: end; /* Allinea gli elementi all'estremità destra */
    align-items: center; /* Allinea gli elementi verticalmente al centro */
}

/* Stili per il pulsante nell'elemento di upgrade */
.upgrade > button{
    color: white; /* Colore del testo */
    height: 50px; /* Altezza del pulsante */
    width: 250px; /* Larghezza del pulsante */
    border: 1px solid white; /* Bordo del pulsante */
    background-color: rgb(8, 11, 18); /* Colore di sfondo */
    border-radius: 30px; /* Bordo arrotondato */
}

/* Stili per la barra di navigazione */
.nav-bar{
    margin: auto; /* Centra orizzontalmente */
    margin-top: 120px; /* Spaziatura in alto */
    display: flex; /* Utilizza un layout flessibile */
    width: 50%; /* Larghezza della barra di navigazione */
    justify-content: space-between; /* Spaziatura uniforme tra gli elementi */
    color: rgb(163, 163, 163); /* Colore del testo */
}

/* Stili per gli elementi nella barra di navigazione */
.nav-bar > div{
    max-width: calc(100% / 5); /* Larghezza massima per ciascun elemento */
}

.c-main{
    width: 95%;
    margin: auto;
    border: 1px solid yellow; /* CAMBIARE */
}

.container-main > div > h1{
    color: white;
    margin-top: 35px;
    margin-left: 10px;
}

.container-main > div > span{
    margin-left: 10px;
    color: rgb(163, 163, 163);
}

.row{
    margin-top: 25px;
    text-align: center;
    border: 1px solid red;  /* CAMBIARE */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col{
    flex: 0 0 auto;
    border: 1px solid black;
}

.col-extra-small-6{
    flex-basis: calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
}

.col-large-2 > img{
    max-width: 93%;
}

.col-large-2 > h3{
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.col-large-2 > span{
    color: rgb(163, 163, 163);
}

@media screen and (max-width: 576px){
    .h-side{
        width: 50px;
    }
    .nav-principale > div > span{
        display: none;
    }
    .playlist{
        display: none;
    }
    
}

@media screen and (min-width: 576px){
    .col-small-6{
        flex-basis: calc((100% / 12) * 6);
        max-width: calc((100% / 12) * 6);
    }
    
}

@media screen and (min-width: 768px){
    .col-media-4{
        flex-basis: calc((100% / 12) * 4);
        max-width: calc((100% / 12) * 4);
    }
    
}

@media screen and (min-width: 992px){
    .col-large-2{
        flex-basis: calc((100% / 12) * 2);
        max-width: calc((100% / 12) * 2);
    }
    
}

















footer{
    height: 100px;
    background-color: rgb(41, 41, 41);
}
.container-footer{
    display: flex;
    justify-content: space-between;
    max-height: 100%;
    padding: 10px;
    color: rgb(163, 163, 163);
}


